.badge-administrador {
	color: #ffffff;
    background-color: #fd8c00b8;
    font-size: 85%;
}

.badge-empleado {
    color: #ffffff;
    background-color: #d0d015;
    font-size: 85%;
}


.pull-left{float:left!important;}
.pull-right{float:right!important;}

.dataTables_wrapper .dt-buttons {
    float:right;
  }