.badge-administrador {
	color: #ffffff;
    background-color: #e69c2cfa;
    font-size: 75%;
}

.badge-empleado {
    color: #ffffff;
    background-color: #15d094;
    font-size: 75%;
}

p.error {

    color: #dc3545 !important;
    
}

.isDisabled {
    pointer-events: none !important;
    cursor: default !important;
    background-color:#8a8a8a !important; 
    border-color:#8a8a8a !important;


  }
  .hide_column { 
    display : none; 
   } 



   .nav-pills .nav-link.active,
   .show>.nav-pills .nav-link{
       background-color: #17A2B8;
     
   }

   .select2-results__option[aria-selected=true] {
    display: none !important;
}